.tableWidth{
    width: 50%;
    height: fit-content;
}

.description{
    width: 25em;
}

.actions{
    width: 15em;
}

.year{
    font-size: 2em;
    font-weight: bold;
    border-left: 2px solid #dee2e6;
    border-top: 2px solid #dee2e6;
    border-right: 2px solid #dee2e6;
}

.noDataStyles{
    font-size: 2em;
    font-weight: bold;
    border-left: 2px solid #dee2e6;
    border-top: 2px solid #dee2e6;
    border-right: 2px solid #dee2e6;
    color: #0000ff;
}